RewriteEngine on
#RewriteBase /

ErrorDocument 404 404.php
 
#RewriteCond %{REQUEST_FILENAME} -s [OR]
#RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ [NC,L]
RewriteRule ^.*$ index.php [NC,L]
